
.table {
    display: flex; 
    flex-direction:row; 
    justify-content: space-around; 
    margin:10px;
    width: 100%;

}
.table_lbc {
    display: flex; 
    flex-direction:row; 
    justify-content: space-between; 
    margin:10px;
    width: 100%;
    min-height: 50vh;
}
.column {
    display: flex; 
    width: 100%;
    flex-direction:column; 
    align-items: center; 
    position: relative;
}
.contain{
    display: none;
    position: relative;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition:1s;
}
.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100px;
    min-width:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(85, 85, 85, 0.3);
    /* display: none; */
}
.tile,.transaction{
    padding: 15px;
    cursor: pointer;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition:1s;
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none;  
         -moz-user-select: none;     
          -ms-user-select: none; 
              user-select: none;
}
.tile:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 10px 4px rgba(0,0,10,0.5);
}

.transaction {
    border: 1px solid #a2cfeb;
    padding: 5px 10px;
    border-radius: 30px;
    background: #a2cfeb;
    box-shadow: 1px 1px #0c1115;
    -webkit-transition:0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition:0.15s;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction:active {
    box-shadow: none;
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
}
@keyframes spin {
    100% {
     transform: rotate(360deg);
    }
  }
  .spinner {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 6px solid #000;
    border-left-color: #333;
    border-right-color: transparent;
    border-bottom-color: #555;
    border-radius: 100%;
    animation: spin 600ms infinite linear;
  }

.message {
    display: none;
    flex-direction:column;
    align-items: center; 
}

.popup{
    display: none;
    min-width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px; 
    left:0px;
    z-index: 10000;
}
.popup .popup-content{
    margin:40px auto 0px auto;
    width: 300px;
    height: 400px;
    padding:10px;
    background-color: #f3f3f3;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popup_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popup_button .button{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #adff2f;
    border-radius:20px;
    cursor: pointer;
    margin: 5px;
    outline: none;
}

.popup_error {
    width: 85%;
    height: 50px;
    border: 1px solid #fd2c2c;
    box-shadow: inset 0px 0px 10px #fd2c2c;
    border-radius:5px;
    padding: 15px;
    margin: 5px;
}
.popup_success {
    width: 85%;
    height: 50px;
    border: 1px solid adff2f;
    box-shadow: inset 0px 0px 10px adff2f;
    border-radius:5px;
    padding: 15px;
    margin: 5px;
}
.popup_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.popup_form form{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.popup_form form #calculator {
    display: flex;
    flex-direction: column;
}
#calculator input {
    font-size: 20px; 
    height: 30px;
    width: 120px;
    border: 1px solid rgba(255, 255, 255);
}
#calculator span {
    padding: 6px 2px 6px 5px;
    width: 200px;
    height: 40px;
    margin: 1px;
    background-color: rgba(70, 160, 215, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup_form form textarea {
    border: 2px solid rgba(70, 160, 215, 0.5);
    padding: 5px;
    resize: none;
}

.error_input {
    background-color: #fd2c2c;
    padding: 0px 5px 0 15px;
}
.true_input {
    background-color: #adff2f;
    padding: 0px 5px 0 15px;
}
hr {
    width: 100px;
    color: rgba(70, 160, 215, 0.5);
}
.column.buy {
    width: 100%;
    min-height: 30vh; 
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
.column.sell{
    width: 100%;
    min-height: 30vh; 
    background: rgba(0,0,0,0.5);
    z-index: 2;
}




  
 
